
<script>
	
	var rowind = 1;
	function deleteRow(row)
	{
	    var i=row.parentNode.parentNode.rowIndex;
	    document.getElementById('lecTable').deleteRow(i);
	    rowind--;
      document.getElementById('arrlen').value = rowind;
      console.log("value="+document.getElementById('arrlen').value);
	}


	function insRow()
	{
		
	    console.log( 'hi');
	    var x=document.getElementById('lecTable');
	    var y=document.getElementById('lecbody');
	    var new_row = x.rows[1].cloneNode(true);
	    var len = x.rows.length;

	    // var lec = document.getElementById("lecTable").rows[len-1].cells[1].firstChild.value;
	    // console.log("mhai_eiei"+lec);
	    // array.push(lec);
	    //new_row.cells[0].innerHTML = len;
      var inp0 = new_row.cells[0].getElementsByTagName('input')[0];
      var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
      
      
      console.log(new_row);
      y.appendChild( new_row );
      rowind++;
      console.log(rowind);
      document.getElementById('arrlen').value = rowind;
      console.log("value="+document.getElementById('arrlen').value);
	 
	}
  function deleteRowELOs(row)
  {
      var i=row.parentNode.parentNode.rowIndex;
      document.getElementById('elosTable').deleteRow(i);
      rowind--;
      document.getElementById('eloslen').value = rowind;
      console.log("value="+document.getElementById('arrlen').value);
  }


  function insRowELOs()
  {
    
      console.log( 'hi');
      var x=document.getElementById('elosTable');
      var y=document.getElementById('elosbody');
      var new_row = x.rows[1].cloneNode(true);
      var len = x.rows.length;

      // var lec = document.getElementById("lecTable").rows[len-1].cells[1].firstChild.value;
      // console.log("mhai_eiei"+lec);
      // array.push(lec);
      //new_row.cells[0].innerHTML = len;
      var inp0 = new_row.cells[0].getElementsByTagName('input')[0];
      var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
       var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
      
      
      console.log(new_row);
      y.appendChild( new_row );
      rowind++;
      console.log(rowind);
      document.getElementById('arrlen').value = rowind;
      console.log("value="+document.getElementById('arrlen').value);
   
  }
</script>

 <form class="form-horizontal" role="form" action="/admin/addsubjects" method="post" id = "myForm">
 			 <p hidden> 
            <input type="text" tabindex="1"  name="arrlen" id="arrlen" value='1' readonly=""><br>             
        </p>
        <h3>Add new Subjects to Program</h3>

                    <div class="form-group">
                      <label for="inputType" class="col-md-2 control-label">Subject code: </label>
                      <div class="col-md-4">
                          <input type="text" class="form-control" name="sub_code" id ="sub_code">
                      </div>                                                   
                    
                    <label for="inputType" class="col-md-2 control-label">Name: </label>
                      <div class="col-md-4">
                          <input type="text" class="form-control" name="sub_name" id ="sub_name">
                      </div> 
                      <br>
                    </div>
                    <div class="form-group">
                        <label for="inputType" class="col-md-2 control-label">Credit : </label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" name="sub_credit" id="sub_credit">
                        </div>
                        <label for="inputType" class="col-md-2 control-label">Lecturer : </label>
                          <div class="col-md-4">
                        
                            <table class="table muffin table-striped table-hover margin-bottom0" id="lecTable">
                              <thead>
                                  <tr>
                                  <th width="40"><a href="javascript:table_sort('tab_2',0)">Lecturer name</a></th>
                                  <th><a href="javascript:table_sort('tab_2',1)" >Add</a></th>
                                  <th><a href="javascript:table_sort('tab_2',3)">Delete</a></th>
                                  </tr>
                              </thead>
                              <tbody id="lecbody">
                                <tr>
          					            <td><input  type="text" name="lec_name" id="latbox"/></td>
                                <td><button id="tab_2_submit" class="btn btn-xs btn-primary" type="button" onclick="insRow()"><span class="glyphicon glyphicon-plus"></span></button>
                                </td>
          					            <td>
                                    <button class="btn btn-xs btn-danger" id="delPOIbutton" value="Delete" onclick="deleteRow(this)">
                                    
                                    <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>     
          				              </tr> 
                              </tbody>
                            </table>
                          </div>
                   
                    </div>  

                    <div class="form-group">

                        <label for="inputType" class="col-md-2 control-label">ELOs and Support levels : </label>
                          <div class="col-md-4">
                            <table class="table muffin table-striped table-hover margin-bottom0" id="elosTable">
                              <thead>
                                  <tr>
                                  <th ><a >ELOs</a></th>
                                  <th ><a >Support levels</a></th>
                                  <th ><a >Add</a></th>
                                  <th ><a >Delete</a></th>
                                  
                                  </tr>
                              </thead>
                              <tbody id="elosbody">
                                <tr>
                                <td><input  type="text" name="elos" id="latbox"/></td>
                                <td>
                                  <select style="width:200px" id="supportlevels" name="head_programs">
                                      <option>Highly Supportive</option>
                                      <option>Supportive</option>
                                      <option>None</option>
                                </td>
                                <td><button id="tab_2_submit" class="btn btn-xs btn-primary" type="button" onclick="insRowELOs()"><span class="glyphicon glyphicon-plus"></span></button>
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-danger" id="delPOIbutton" value="Delete" onclick="deleteRowELOs(this)">
                                    
                                    <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>       
                                </tr> 
                              </tbody>
                            </table>
                          </div>
                   </div>
                   <div class="form-group">
                    <div class="pull-right">
                        <div class="btn-group">
                          <button class="btn btn-mini" type="button" class="glyphicon glyphicon-export">Export</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-mini" type="button" class="glyphicon glyphicon-import">Import</button>
                        </div>

                        <div class="btn-group">
                            <button id="tab_2_submit" class="btn btn-primary" type="submit"> Submit</button>
                        </div>
                    </div>
                    </div>
</form>


