
<script>

   
  function checkNames() {
    var validationElement = document.getElementById('nameValidation');
    var newpass = document.forms["changepwd"]["newpass"].value;
    var passagain = document.forms["changepwd"]["confirmpass"].value;
    console.log(newpass, passagain);
    validationElement.style.display = 'none';
    validationElement.className = 'validation-image';
    if (passagain) {
        validationElement.style.display = 'inline-block';
        if (newpass == passagain) {
            validationElement.className += ' validation-success';
            document.getElementById("confirmbutt").disabled = false;
        } else {
            validationElement.className += ' validation-error';
            document.getElementById("confirmbutt").disabled = true;
        }
    }
}
</script>


<div class="container">
  <form class="form-horizontal" role="form" name='changepwd' action="" method="post" id = "myForm" > 
          
      
      {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
      {{/if}}   
         
        
      <h3>Reset Password</h3>
        <br>
          <div class="well menu">
             <div class="form-group">
               <label for="inputType" class="col-md-2 control-label">Old Password: </label>
                  <div class="col-md-4">
                      <input type="password" class="form-control" id="oldpass" width="20px;" name="oldpass"  required>
                  </div>
             </div>

           
            <div class="form-group">
              <br>
               <label for="inputType" class="col-md-2 control-label">New Password: </label>
                <div class="col-md-4">
                   <input type="password" class="form-control" id="newpass" width="20px;" name="newpass" onblur="checkNames()" required>
                </div>
            </div>

            <div class="form-group">
               <label for="inputType" class="col-md-2 control-label">Confirm Password: </label>
                <div class="col-md-4">
                   <input type="password" class="form-control" id="confirmpass" width="20px;" name="confirmpass" onblur="checkNames()" required>   
                </div>
                <div id="nameValidation" class="validation-image"></div>

            </div>

             
              <p align = "right"><button type="submit" class="btn btn-primary" id='confirmbutt'>Confirm</button></p>
          </div>

         
                     
              

  </form>

</div>





