<form method="post" action="/some/upload" enctype="multipart/form-data">
	<input type="text" name="title">
	<input type="text" name="docType">
	<input type="text" name="year">
	<input type="file" name="uploadfile">
	<input type="submit" value="OK">
</form>

