<div class="text-center">
	<h3>{{workflow.name}}</h3>
	<div style="font-size: 18px">{{workflow.description}}</div>
	<br><br>
	
	<div> {{workflow.xml}}</div> 
	<br><br>
	<div><a href="/workflow/{{workflow._id}}/execute" class="btn-sm btn-primary">Execute</a>
</div>