<script src="http://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
<link href="http://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link>

<div id="myFormBuilder"></div>
<script>
YUI().use( 'aui-carousel', function(Y) {
	new Y.FormBuilder().render();
});
</script>