<h1>Role configuration</h1>

<form>
  <div class="form-group">
    <label for="roleName">Role Name</label>
    <input type="name" class="form-control" id="roleName" placeholder="Role name">
  </div>
  <div class="form-group">
  	<label for="description">Description</label>
  	<input type="description" class="form-control" id="description" placeholder="Description"> 
  </div>
 </form>