<h1>Role configuration</h1>

  <div class="form-group">
    <label for="roleName">Role Name</label>
    <input type="text" id="role-name" name="name" class="form-control" placeholder="Role name">
  </div>
  <div class="form-group">
  	<label for="description">Description</label>
  	<input type="text" id="role-description" name="description" class="form-control" placeholder="Description"> 
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
    	<center><label> Members </label></center>
      <table id="members-list" class="table table-hover">
      </table>      
    </div>
    <div class="col-xs-6 col-sm-4">
      <button onclick="addMembers()" class="btn btn-default btn-block" role="button">Add</button>
    </div>

    <div class="col-xs-6 col-sm-4">
      <center><label> All users </label></center>
      
      <table id="table-all-users" class="table table-hover result">
        {{#each result}}
        <tr>
          <td id="{{this._id}}" class="all-users" onclick="clickRow('{{this._id}}')">
            {{this._id}}
          </td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
    </div>
    <div class="col-xs-6 col-sm-4">
    <a class="btn btn-default btn-block" href="#" role="button">Remove</a>
  </div>
  </div>

  <br><br>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <a class="btn btn-default btn-block" href="/roleManagement" role="button">Cancel</a>
    </div>
    <div class="col-xs-6 col-sm-3">
    </div>
    <div class="col-xs-6 col-sm-3">
    </div>
    <div class="col-xs-6 col-sm-3">
      <button onclick="saveRole()" class="btn btn-default btn-block">Save</button>
    </div>
  </div>

<script>
  var members = [];
  var tempmembers = [];

  //change row color when selected in processing  
  $(function() {  
    $('.all-users').click(function(){
      $(this).toggleClass('selected');
    });
  });

  function saveRole(){
    $.ajax({
      url: "/rolemanagement/save",
          type: "POST",
          data: { 
            name: $('#role-name').val(),
            description: $('#role-description').val(),
            members:members
          },
          success: function( data ) {
            //alert('success saving data');
            window.location.replace("/roleManagement");
          }
    });
  }

  function clickRow(id){
    var index = tempmembers.indexOf(id);
    
    if(index === -1){
      tempmembers.push(id);
      //alert('Add to array members');
    }
    else{
      alert('Existing members');
    }
  }

  function addMembers(){
    var indexOfMembers = [];
    for(var i = 0;i < tempmembers.length; i++){
      var index = members.indexOf(tempmembers[i]);
      if (index === -1){
        members.push(tempmembers[i]);
        indexOfMembers.push(i);
      }
    }
    alert(members.length);
    tempmembers = [];
    updateMembers();
    updateAllUser(indexOfMembers);
  }

  function updateAllUser(indexOfMembers){
    //update all user
    //for(var i=0;i < indexOfMembers.length;i++){
      //document.getElementById("table-all-users").deleteRow(indexOfMembers(i));
//
  }

  function selectedRowForDelete(){

  }

  function updateMembers(){
    $("#members-list").html("");
    for(var i = 0;i < members.length; i++){
      var currentVar = members[i];

      var htmlText = '<tr onclick="selectedRowForDelete(this)" data-id="'+i+'">';
      htmlText += '<td>' + currentVar+ '</td>';
      htmlText += '</tr>';

      $("#members-list").append(htmlText);
    }

  }

</script>

