<link rel="stylesheet" href="/stylesheets/workflow.css">
<h1>Role configuration</h1>

<form action="save" method="post">
  <div class="form-group">
    <label for="roleName">Role Name</label>
    <input type="text" name="name" class="form-control" placeholder="Role name">
  </div>
  <div class="form-group">
  	<label for="description">Description</label>
  	<input type="text" name="description" class="form-control" placeholder="Description"> 
  </div>
 


  <div class="row">
    <div class="col-xs-6 col-sm-4">
    	<center><label> Members </label></center>
      <table class="table table-hover">
      </table>      
    </div>
    <div class="col-xs-6 col-sm-4">
      <a onclick="addMembers" class="btn btn-default btn-block" role="button">Add</a>
    </div>

    <div class="col-xs-6 col-sm-4">
      <center><label> All users </label></center>
      
      <table class="table table-hover result">
        {{#each result}}
        <tr>
          <td class="choosed" onclick="clickRow('{{this._id}}')">
            {{this._id}}
          </td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
    </div>
    <div class="col-xs-6 col-sm-4">
    <a class="btn btn-default btn-block" href="#" role="button">Remove</a>
  </div>
  </div>

  <br><br>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <a class="btn btn-default btn-block" href="/roleManagement" role="button">Cancel</a>
    </div>
    <div class="col-xs-6 col-sm-3">
    </div>
    <div class="col-xs-6 col-sm-3">
    </div>
    <div class="col-xs-6 col-sm-3">
      <input type="submit" class="btn btn-default btn-block" value="Save">
    </div>

  </div>
</form>

<script>
  var members = [];
  //change row color when selected in processing  
  /*$(function() {  
    $('.choosed').click(function(){
      $(this).toggleClass('selected');
    });
  });*/
  function clickRow(id){
    var index = members.indexOf(id);
    if(index === -1){
      members.push(id);
      alert('Add to array members');
    }
    else{
      alert('Existing members');
    }
  }

  function addMembers(){
    alert("Add member to role already");


  }
</script>

