<script>
	console.log(year);
	function deleteRow(row)
	{
	    var i=row.parentNode.parentNode.rowIndex;
	    document.getElementById('programTable').deleteRow(i);
	}


	function insRow()
	{
		console.log({{year}});
	    console.log( 'hi');
	    var x=document.getElementById('programTable');
	    var new_row = x.rows[1].cloneNode(true);
	    var len = x.rows.length;
	    new_row.cells[0].innerHTML = len;
	    
	    var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
	    inp1.id += len;
	    inp1.value = '';
	    var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
	    inp2.id += len;
	    inp2.value = '';
	    x.appendChild( new_row );
	}

</script>

<form action="/addprogram" method="post" id = "myForm" >	

	
	<label>Program name:</label>
	  <input type="text" tabindex="1" placeholder="Enter program name" name="program_head_name" required><br>
	<br>

	

	<label>Program track:</label><br>
			<!--table here-->
	<div class = "datagrid">
    <table  id="programTable" >
		<thead>
			<tr>
				<th>Index</th>
				<th>Program</th>
				<th>Delete</th>
								
			</tr>
		</thead>
        <tr>
            <td>1</td>
            <td><input  type="text" name="sub_program" id="latbox"/></td>
            <td><input type="button" id="delPOIbutton" value="Delete" onclick="deleteRow(this)"/></td>
            
        </tr>
   	</table>
   	</div>
   	<input type="button" id="addmorePOIbutton" value="Insert" onclick="insRow()"/>
   	</br>
	
		
	
	
	  <input type="submit" class="btnLogin" value="Submit" tabindex="1">
	  
</form>