<div class="container">
<div class="jumbotron">
<center>
	<h1>Error Occurred :(</h1>
	<h2>{{error.status}} {{error.message}}</h2>
</center>

<h2>Stacktrace</h2>
<pre>{{error.stack}}</pre>
</div>
</div>
