<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monkey Office</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/Google-Style-Login.css">
</head>
<body>
    <br>
    <br>
    <div class="login-card"><img src="/images/avatar_2x.png" class="profile-img-card">
        <p class="profile-name-card"> </p>

        <form class="form-signin" action="/login" method="post"><span class="reauth-email"></span>
            <input class="form-control" required="" placeholder="username" autofocus="" name="email">
            
            <input class="form-control" type="password" required="" placeholder="Password" name="password">
            <div class="checkbox">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Remember me</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg btn-signin">Login</button>
        </form>

        <a href="/signup">Sign up</a>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</body>

</html>