<div class="jumbotron">
  <center>
    <h1>Welcome to Monkey Office</h1>
    <p>Make your life easily</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </center>
  </div>
