
<body>

    
        <td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 
           
            <!--<form class="form-horizontal" role="form">-->
                <h3>AUN 1.3: The expexted learning outcomes cover both generic and specialised skills and knowledge</h3>
               
                <br>
				        <h5>Table : Map pf ELOs according to knowledge, skills, attitude and life-long learning</h5>
                <div id="tab_tqf3">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            <th>Categories</a></th>
                            <th>Descriptions</a></th>
                            <th>ELOs</a></th>
                            

                        </tr>
      
                    </thead>
                    <tbody>
					{{#each docs}}
					{{#each Responsibility}}
	

                        <tr>
                        <td>{{category}} </td>
                        <td>{{description}} </td>
						{{#each ELO}}
                        <td>{{number}},</td>
                        {{/each}}
                        </tr>
                       {{/each}}
                        {{/each}}
                    </tbody>

                  </table>
                </div>
          
            </div>
            </div>
            </div>
            </div>
            

        </td>



         
</body>




