<body>

    
        <td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 
           
            <!--<form class="form-horizontal" role="form">-->
                <h3>AUN 1.4: The expected learning outcomes clearly reflect the requirements of the stakeholders</h3>
               
                <br>
				<h5>Table : Mapping of stakeholders' requirements and ELOs</h5>
                <div id="tab_tqf3">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            <th>Type</a></th>
                            <th>Stakeholders</a></th>
                            <th>Requirements</a></th>
                            <td>ELOs</a></td>
                            

                        </tr>
      
                    </thead>

					
                    <tbody>
					{{#each docs}}
					{{#each stakeholder}}
                        <tr>
                        <td>{{type}} </td>
                        <td>{{title}}</td>
                        <td>{{requirement}} </td>
						{{#each ELO}}
                        <td>{{number}} </td>
                        {{/each}}
                        </tr>
                        {{/each}}
                        {{/each}}
                    </tbody>
					
                  </table>
                </div>
          
            </div>
            </div>
            </div>
            </div>
        </td>



         
</body>



</html>
