<div style="margin-left:40px; margin-top: 80px;">
{{#each result}}
	<div>Template Id: {{this.templateId}}</div>
	<div>
		Status: 
		{{#if this.status}}
    		Done
  		{{else}}
    		In progress
  		{{/if}}
	</div>

	<div><a href="/execution/{{this._id}}">Look</a></div>
{{/each}}
</div>