<script type="text/javascript">
    var array = [];
    var rowind = 1;
  
    function deleteRow(row)
    {

        var i=row.parentNode.parentNode.rowIndex;
        document.getElementById('ELO_KBtable').deleteRow(i);
        rowind--;
        document.getElementById('arrlen').value = rowind;
        console.log("value="+document.getElementById('arrlen').value);
    } 

    function insRow()
    {

      var arr = []
      //console.log( 'hi');
      var x=document.getElementById('ELO_KBtable');
      var y =document.getElementById('ELO_KBbody');
      var new_row = x.rows[1].cloneNode(true);
      //console.log( 'new_row: '+new_row);
      var len = x.rows.length;
      //console.log( 'len: '+len);

      var inp0 = new_row.cells[0].getElementsByTagName('input')[0];
      var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
      var inp3 = new_row.cells[2].getElementsByTagName('input')[0];
     
      
      console.log(new_row);
      y.appendChild( new_row );
      rowind++;
      console.log(rowind);
      document.getElementById('arrlen').value = rowind;
      console.log("value="+document.getElementById('arrlen').value);
     
    }
</script>

<div class="container">
        <form class="form-horizontal" role="form"  action="" method="post" id = "myForm" > 
          
           
           
        
   <h3>Add new plan</h3>
        <br>
          <div class="form-group">
            <label for="inputType" class="col-md-1 control-label">Plan : </label>
              <div class="col-md-3">
                  <input type="text" class="form-control" id="plan" width="30px;" name="plan" required>
              </div>

             <label for="inputType" class="col-md-2 control-label">Program: </label>
              <div class="col-md-4">
                <select class="form-control" style="width:200px" id="type" name="type">
                              <option value=""></option>
                              <option value=""></option>
                </select>
              </div>
            
          </div>
          <div class="form-group">
            <label for="inputType" class="col-md-1 control-label">Knowledge Block</label>
            <div>
            <br>
              <div class="col-md-5">
                 <div id="tab_2">
                    <table id="ELO_KBtable" class="tablesorter">
                        <thead>
                            <tr>
                            <th><a>Type</a></th>
                            <th><a>Subjects</a></th>
                            <th><a>Credit Required</a></th>
                            <th><a>Add</a></th>
                            <th><a>Delete</a></th>

                            </tr>
                        </thead>
                        <tbody id = "ELO_KBbody">

                            <tr>
                            <td>          
                              <select class="form-control" style="width:200px" id="type" name="type">
                                  <option value="Direct">Generic Knowledge</option>
                                  <option value="Indirect">Specific Knowledge</option>
                              </select>
                           </td>
                            <td><input  type="text" name="nameSub" id="nameSub"/></td>
                            <td><input  type="text" name="credit" id="credit"/></td>
                            <td> <button id="tab_2_submit" class="btn btn-xs btn-primary" type="button" onclick="insRow()"><span class="glyphicon glyphicon-plus"></span></button>
                            </td>
                              

                            <div class="btn-group">
                              <td> <button class="btn btn-xs btn-danger" id="delPOIbutton" value="Delete" onclick="deleteRow(this)"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                            </div>  
                                  
                            </tr>                    
                        </tbody>
                      </table>
                  </div>
                </div>
               </div>
              </div>
              <div class="col-md-10">
                      
                      <p align = "right"><button type="submit" class="btn btn-primary">Add</button></p>
              </div>

            

            

        </form>

</div>