
<script>
   var rowind = 1;

    function deleteRow(row)
    {

        var i=row.parentNode.parentNode.rowIndex;
        document.getElementById('devcomtable').deleteRow(i);
        rowind--;
        console.log(rowind);
        document.getElementById('arrlen').value = rowind;
        console.log("value="+document.getElementById('arrlen').value);
    }


    function insRow()
    {
        
        console.log( 'hi');
        var x=document.getElementById('devcomtable');
        var y=document.getElementById('devcombody');
        var new_row = x.rows[1].cloneNode(true);
        console.log(new_row);
        var len = x.rows.length;

        // new_row.cells[0].innerHTML = len;
        console.log(len);
        var inp1 = new_row.cells[0].getElementsByTagName('input')[0];
        
        var inp2 = new_row.cells[1].getElementsByTagName('input')[0];
      
        var inp3 = new_row.cells[2].getElementsByTagName('input')[0];
        
        var inp4 = new_row.cells[3].getElementsByTagName('input')[0];
       
        var inp5 = new_row.cells[4].getElementsByTagName('input')[0];
        var inp6 = new_row.cells[5].getElementsByTagName('input')[0];
      inp2.value = '';
      inp3.value = '';
      inp4.value = '';
      inp5.value = '';
      
      y.appendChild( new_row );
      rowind++;
      console.log(rowind);
      document.getElementById('arrlen').value = rowind;
      document.getElementById('count').value = 1;
      console.log("value="+document.getElementById('arrlen').value);
    }
    


</script>


<form class="form-horizontal" role="form" action="/aun/aun11-1/add_aun11-1?&program={{getprogram}}&year={{getyear}}&acid={{getacid}}" method="post">
    <h3>Edit Program development committe</h3>
    <p hidden> 
    
    </p>

     <div class="form-group">
                 
                
        
      
    <div><table class="tablesoeter" id="devcomtable">
        <thead>
            <tr>
            <th>No.</a></th>     
            <th>Academic Title</a></th>
            <th>Name</a></th>
            <th>Surname</a></th>
            <th>Position</a></th>
            <th>Add</a></th>          
            <th>Delete</a></th>                    
            </tr>
        </thead>
        <tbody id="devcombody">
                <p hidden>    
                  <input type="text" tabindex="1"  name="arrlen" id="arrlen" value='1' readonly=""><br>
                </p>

                <p hidden>    
                  <input type="text" tabindex="1"  name="count" id="count" value='0' readonly=""><br>
                </p>

                <tr>
                <td></td>
                <td><input type="text" id="academicTitle" name="academicTitle" value= "" required></td>
                <td><input width="300" type="text" name="name" value="" required></td>
                <td><input width="300" type="text" name="surname" value="" required></td>
                <td><input type="text" name="position" placeholder="" value="" required></td>
                <div class="btn-group">
                   <td> <button id="tab_2_submit" class="btn btn-xs btn-primary" type="button" onclick="insRow()">
                      <span class="glyphicon glyphicon-plus"></span></button>
                    </td>
                </div> 
                <td>
                    <button class="btn btn-xs btn-danger" id="delPOIbutton" value="Delete" onclick="deleteRow(this)"><span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
                </tr>
            
            
        </tbody>
        </table>
          
     </div>        
            
            <!-- end: table full -->
    <div class="table-foot "> 
        
        <div class="pull-right">
       
        
        <div class="btn-group">
            <button id="tab_2_submit" class="btn btn-primary" type="button">Import</button>
        </div>
        <div class="btn-group">
            <button id="tab_2_submit" class="btn btn-primary" type="button">Export</button>
        </div>
                    
       
        <div class="form-group">
                      <p align = "right"><button type="submit" class="btn btn-primary">Submit</button></p>
             </div>
        </div>  
        
   
        <br>
        <br>
            
    
    </div>
</form>