<div class="container">
           
    <form class="form-horizontal" role="form"  action="/aun/aun10-1/addaun10_1" method="post" id = "myForm" > 
         <p hidden>              
            <input type="text" tabindex="1"  name="acid" id="acid"  value="{{acid}}"><br>
            <input type="text" tabindex="1"  name="program" id="program"  value="{{programname}}"><br>
            <input type="text" tabindex="1"  name="year" id="year"  value="{{year}}"><br>         
        </p>  
                <h3>Mapped the expected learnig outcomes (ELOs)</h3>
                <br>
               
                    <div class="form-group">
                      <label for="inputType" class="col-md-1 control-label">Room No.:</label>
                      <div class="col-md-4">
                         <input type="text" class="form-control" id="inputType" placeholder="Enter room number" name="roomno">
                      </div>
                     <label for="inputType" class="col-md-1 control-label">Floor:</label>
                      <div class="col-md-4">
                         <input type="text" class="form-control" id="inputType" placeholder="Enter floor" name="floor">
                      </div> 
                    </div>
                    <div class="form-group">
                      <label for="inputType" class="col-md-1 control-label">Building:</label>
                      <div class="col-md-4">
                         <input type="text" class="form-control" id="inputType" placeholder="Enter building name" name="building">
                      </div>
                     
                      <label for="inputType" class="col-md-1 control-label">No. of seats:</label>
                      <div class="col-md-4">
                         <input type="text" class="form-control" id="inputType" placeholder="Enter  number of seats" name="noofseat">
                      </div>
                    </div>
                     
                     <div class="col-md-11">
                          <p align = "right"><button type="submit" class="btn btn-primary">Add</button></p>
                     </div>
                   
     </form>
</div>
