<script type="text/javascript">
    $(function() {
        $("table").tablesorter({debug: true});
    });
    $(function() {
        var scntDiv = $('#p_scents');
        var i = $('#p_scents p').size() + 1;
        
        $('#addScnt').live('click', function() {
                $('<p><label for="p_scnts"><input type="text" class="form-control" id="inputType" size="30" name="p_scnt_' + i +'" value="" placeholder="name" /><input type="text" class="form-control" id="inputType" size="30" name="p_scnt_' + i +'" value="" placeholder="level" /></label> <button type="button" id="remScnt" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></p>').appendTo(scntDiv);
                i++;
                return false;
        });
        
        $('#remScnt').live('click', function() { 
                if( i > 2 ) {
                        $(this).parents('p').remove();
                        i--;
                }
                return false;
        });
    });
    </script>
</head>


<script>
function insRow()
  {
    
      console.log( 'hi');
      var x=document.getElementById('userTable');
      var y =document.getElementById('usertbody');
      var new_row = x.rows[1].cloneNode(true);
      var len = x.rows.length;
      
      new_row.cells[0].innerHTML = len;
      
      var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
      inp1.value = '';
      var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
      var inp3 = new_row.cells[3].getElementsByTagName('input')[0];
      // inp3.value = '';
      // var inp4 = new_row.cells[4].getElementsByTagName('input')[0];
      // inp4.value = '';
      console.log(new_row);
      y.appendChild( new_row );
      rowind++;
      console.log(rowind);
      document.getElementById('arrlen').value = rowind;
      console.log("value="+document.getElementById('arrlen').value);
   
  }
</script>


<div class="container">
           
    <form class="form-horizontal" role="form"  action="/add_aun5-3?program={{program}}" method="post" id = "myForm" > 
      
                <h3>Mapped The expected learnig outcomes (ELOs)</h3>
                <br>
               
                    <div class="form-group">

                      <label for="inputType" class="col-md-2 control-label">Program: </label>
                      <div class="col-md-4">
                          <select class="form-control" style="width:200px" id="program" name="program">
                              {{#each program_fac}}                 
                                  <option value="{{ programname}}">{{ programname }}</option>                    
                              {{/each}}
                          </select>
                      </div> 
                      <label for="inputType" class="col-md-2 control-label">Assesment Tools: </label>
                      <div class="col-md-4">
                         <input type="text" class="form-control" id="assname" placeholder="Enter assessment tools' name " name="assname">
                      </div>
                     
                    </div>
                    <div class="form-group">
                      <label for="inputType" class="col-md-2 control-label">Type: </label>
                      <div class="col-md-4">
                          <select class="form-control" style="width:200px" id="type" name="type">
                              <option value="Direct">Direct Measures</option>
                              <option value="Indirect">Indirect Measures</option>
                          </select>
                      </div>  
                      
                      <label for="inputType" class="col-md-2 control-label">Course </label>
                      <div class="col-md-4">
                         <div id="p_scents">
                         <p>
                          <label for="p_scnts">
                            <input type="text" class="form-control" id="p_scents" size="30" name="course_name"  placeholder="name"> 
                            <input type="text" class="form-control" id="p_scents" size="30" name="level"  placeholder="level">
                          </label>
                          <button type="button" id="p_scents" class="btn btn-primary btn-sm" ><span class="glyphicon glyphicon-plus" ></span></button>
                         
                          </p>
                        </div>
                      </div>
                      
                      
                    </div>
                    
                   <p align = "right"><button type="submit" class="btn btn-primary">Add</button></p>
     </form>
</div>
