
 <div class="container">
  <form class="form-horizontal" role="form"  action="/addmeeting" method="post" id = "myForm" >	
    <br><br>
               
           <!--<div class="form-group">
              <label for="fromDate" class="col-md-2 control-label">Indicators :</label>
              <div class="col-md-4">
                   <input type="text" class="form-control" id="indicators" name="indicators" value="">
              </div>
              <label for="inputType" class="col-md-2 control-label">Target :</label>
              <div class="col-md-4">
                  <input type="text" width="100px" height="200px" class="form-control" id="target"  name="target">
              </div>
              
              <label for="inputType" class="col-md-2 control-label">Actions :</label>
              <div class="col-md-4">
                  <input type="text" class="form-control" id="actions"  name="actions" >
              </div>
              <label for="inputType" class="col-md-2 control-label">Results :</label>
              <div class="col-md-4">
                  <input type="text" class="form-control" id="results"  name="results" required>
              </div>
          </div>
           
          
                      

          <p hidden>		
			  <input type="text" tabindex="1" name="acyear" id="acyear" value="{{acid}}"><br>
  			</p>
  			                   
      				
                      
          <div class="pull-right">
               <div class="btn-group">
                      <button id="tab_2_submit" class="btn btn-mini" type="submit">Submit</button>
               </div>
          </div>-->

      <td>
        <div class="container-fluid">
        <div class="row-fluid">
        <div class="span12">
        <div class="col-md-12"> 
       
        <!--<form class="form-horizontal" role="form">-->
            <h3>Program Management</h3>
            <br>
            <div id="tab_tqf5">
                <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            <th><a>Indicators</a></th>
                            <th><a>Target</a></th>
                            <th><a>Actions</a></th>
                            <th><a>Results</a></th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr>
                        <td> <input type="text" class="form-control" id="indicator"></td>
                        <td> <textarea class="form-control" rows="5" id="target"></textarea></td>
                        <td> <textarea class="form-control" rows="5" id="actions"></textarea></td>
                        <td> <input type="text" class="form-control" id="results"></td>
                        </tr>
                        <tr>
                        
                    </tbody>
                </table>
            <div class="table-foot"> 
                <div class="pull-right">
                    <div class="btn-group">
                        <a href = ""><button id="btnedit" class="btn btn-mini" type="button">Edit</button></a>
                        <a href = ""><button id="btnsubmit" class="btn btn-mini" type="button">Submit</button></a>
                    </div>
                </div>
            </div>


        </div>
    </td>     



  	  
  </form>
</div>