<br><br><br>
<h1>Role configuration</h1>

  <div class="form-group">
    <label for="roleName">Role Name</label>
    <h3>{{data.name}}</h3>
  </div>
  <div class="form-group">
  	<label for="description">Description</label>
  	<h3>{{data.description}}</h3>
  </div>
<form action="#" method="update">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
    	<center><label> Members </label></center>
      <textarea class="form-control" rows="5" id="members"></textarea>
      
    </div>
    <div class="col-xs-6 col-sm-4">
      <a class="btn btn-default btn-block" href="#" role="button">Add</a>
    </div>

    <div class="col-xs-6 col-sm-4">
      <center><label> All users </label></center>
      <textarea class="form-control" rows="5" id="users"></textarea>
     
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
    </div>
    <div class="col-xs-6 col-sm-4">
    <a class="btn btn-default btn-block" href="#" role="button">Remove</a>
  </div>
  </div>

  <br><br>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <a class="btn btn-default btn-block" href="/roleManagement" role="button">Cancel</a>
    </div>
    <div class="col-xs-6 col-sm-3">
    </div>
    <div class="col-xs-6 col-sm-3">
    </div>
    <div class="col-xs-6 col-sm-3">
      <input type="submit" class="btn btn-default btn-block" value="Save">
    </div>

  </div>
</form>


