
<script>
$(document).ready(function() {
  var $state = $("#typepublic"),
    $nameconfer = $('#nameconfer'),
    $namejournal = $('#namejournal'), 
    $location = $('#location');
    //$page = $('#page');
    //$date = $('#date');
    $vol = $('#vol');
    $issue = $('#issue');
    $article = $('#article');
  $state.change(function() {
    if ($state.val() == 'intercon') {
        console.log('intercon');
        $nameconfer.removeAttr('disabled');
        $location.removeAttr('disabled');
        
        $namejournal.attr('disabled', 'disabled').val('');
        $vol.attr('disabled', 'disabled').val('');
        $issue.attr('disabled', 'disabled').val('');
        $article.attr('disabled', 'disabled').val('');
    } else {
        console.log('interjournal');
        $nameconfer.attr('disabled', 'disabled').val('');
        $location.attr('disabled', 'disabled').val('');
        
        $namejournal.removeAttr('disabled');
        $vol.removeAttr('disabled');
        $issue.removeAttr('disabled');
        $article.removeAttr('disabled');
    }
  }).trigger('change'); // added trigger to calculate initial state
});
</script>
<script>


  var array = [];
  var rowind = 1;
  function deleteRow(row)
  {
      var i=row.parentNode.parentNode.rowIndex;
      document.getElementById('userTable').deleteRow(i);
      rowind--;
      document.getElementById('arrlen').value = rowind;
      console.log("value="+document.getElementById('arrlen').value);
  }


  function insRow()
  {
    
      console.log( 'hi');
      var x=document.getElementById('userTable');
      var y =document.getElementById('usertbody');
      var new_row = x.rows[1].cloneNode(true);
      var len = x.rows.length;
      
      new_row.cells[0].innerHTML = len;
      
      var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
      inp1.value = '';
      var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
      var inp3 = new_row.cells[3].getElementsByTagName('input')[0];
      // inp3.value = '';
      // var inp4 = new_row.cells[4].getElementsByTagName('input')[0];
      // inp4.value = '';
      console.log(new_row);
      y.appendChild( new_row );
      rowind++;
      console.log(rowind);
      document.getElementById('arrlen').value = rowind;
      console.log("value="+document.getElementById('arrlen').value);
   
  }
  
  
  
  
</script>
<form action="/addpublication" method="post" id = "myForm" >

  <div class="row content"> 
                <form class="form-horizontal" role="form">
                    </div>
                   
                    <p hidden>    
            <input type="text" tabindex="1"  name="arrlen" id="arrlen" value='1' readonly=""><br>
            <input type="text" class="form-control" name="username" id="inputType" value={{username}}>
          </p>
              <label for="inputType" class="col-md-2 control-label">Name Publication : </label>
                  <div class="col-md-4">
                        <input type="text" class="form-control" name="namepublic" id="inputType">
                  </div>     
                  <div class="form-group"> 
                       <label for="inputType" class="col-md-2 control-label">Program : </label>
                       <div class="col-md-4">
                           <input type="text" class="form-control" id="inputType" name="program">
                        </div>
                        <label for="inputType" class="col-md-2 control-label">Acedamic Year : </label>
                        <div class="col-md-4">
                       
                          <select class="form-control" style="width:100px" name="acyear">
                                      <option value="2012">2012</option>
                                      <option value="2013">2013</option>
                                      <option value="2014">2014</option>
                                      <option value="2015">2015</option>
                                      <option value="2016">2016</option>
                          </select> 
                        </div>
                        <label for="inputType" class="col-md-2 control-label">Publication Type : </label>
                        <div class="col-md-4">
                       
                          <select class="form-control" id="typepublic" name="typepublic">
                                      <option value="intercon">International Conference</option>
                                      <option value="interjunal">International Jounals</option>                                     
                          </select> 
                        </div>
               </div>   
               <label for="inputType" class="col-md-2 control-label">Name Conference : </label>
                  <div class="col-md-4">
                        <input type="text" class="form-control" id="nameconfer" name="nameconfer" id="inputType">
                  </div> 
              <label for="inputType" class="col-md-2 control-label">Name Journals : </label>
                  <div class="col-md-4">
                        <input type="text" class="form-control" id="namejournal" name="namejournal" id="inputType">
                  </div> 
             <!--additional information   --> 
              <label for="inputType" class="col-md-2 control-label">Location : </label>
                  <div class="col-md-4">
                        <input type="text" class="form-control" id="location" name="location" id="inputType">
                  </div>    
              <label for="inputType" class="col-md-2 control-label">Vol : </label>
                <div class="col-md-4">
                      <input type="text" class="form-control" style="width:100px" id="vol" name="vol" id="inputType">
              </div> 
                  
              <label for="inputType" class="col-md-2 control-label">Date : </label>
                    <div class="col-md-4">
                          <input type="text" placeholder="Month,Year" class="form-control" id="date" name="datenum" id="inputType">
                    </div> 
              
               
              <label for="inputType" class="col-md-2 control-label">Issue : </label>
                <div class="col-md-4">
                      <input type="text" class="form-control" style="width:100px" id="issue" name="issue" id="inputType">
                </div>     
               <label for="inputType" class="col-md-2 control-label">Page : </label>
                <div class="col-md-4">
                      <input type="text" class="form-control" id="page" name="page" id="inputType">
                </div>
                <label for="inputType" class="col-md-2 control-label">Article : </label>
                <div class="col-md-4">
                      <input type="text" class="form-control" style="width:100px" id="article" name="article" id="inputType">
                </div>     
          
                    <div id="tab_2"><table id="userTable" class="table muffin table-striped table-hover margin-bottom0">
                      <thead>
                          <tr>
                          <th ><a href="javascript:table_sort('tab_2',0)">Index</a></th>
                          <th><a href="javascript:table_sort('tab_2',1)">Username</a></th>
                          <th><a href="javascript:table_sort('tab_2',3)">Type User.</a></th>
                          <th><a href="javascript:table_sort('tab_2',5)">Delete</a></th>
                          </tr>
                      </thead>
                      <tbody id = "usertbody">
                           <tr>
                      <td>1</td>
                      <td><input  type="text" name="nameuser" id="latbox"/></td>
                      
                      <td>
                        <div class="col-md-4">
                                    <select class="form-control" style="width:100px" name="roleuser">
                                      <option value="advisee">advisee</option>
                                      <option value="advisor">advisor</option>                                     
                                   </select>
                                </div>
                                </td>
                      <td>
                        <button class="btn btn-xs btn-warning" id="delPOIbutton" value="Delete" onclick="deleteRow(this)">
                        
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                      </td>             
                  </tr>                    
                      </tbody>
                    </table>
                    </div>
                    
                    
                    <!-- end: table full -->
                    <div class="table-foot muffin"> 
                        
                        <div class="pull-right">
                         <div class="btn-group">
                          <button id="tab_2_submit" class="btn btn-mini" type="button" onclick="insRow()">Insert</button>
                      </div>

                        <div class="btn-group">
                            <button id="tab_2_unselect" class="btn btn-mini" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                            <button id="tab_2_selectall" class="btn btn-mini" type="button">All</button>
                        </div>
                        
                        <div class="btn-group">
                            <button id="tab_2_submit" class="btn btn-mini" type="button">Import</button>
                        </div>
                        <div class="btn-group">
                            <button id="tab_2_submit" class="btn btn-mini" type="button">Export</button>
                        </div>
                                    
                        </div>
                        <div class="btn-group">
                            <button id="tab_2_submit" class="btn btn-mini" type="submit">Submit</button>
                        </div>
                          
                        
                    </div>

               
                

                    </td>
                </tr>
            
            </div>
          </div>  
  
   


</form>