<td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 

        <div id="tab_aun12.1">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            
                            <th>No.</a></th>
                            <th>Title</a></th>
                            <th>Name-Surname</a></th>
                            <th>Training Courses</a></th>
                            <th>Hr.</a></th>
                            <th>Edit</th>
                            <th>Delete</th>
                           
                        </tr>                 
                    </thead>
                    <tbody>
                        
                      
                       {{#each Userinfo.training}}
                            <tr>
                                <td>{{@index}}</td>
                                <td></td>
                                <td></td>
                                <td>{{trainingCourse}}</td>
                                <td>{{hour}}</td>
                                <td></td>  
                                <td></td>                      
                            </tr>  
                        {{/each}}
                    </tbody>

                  </table>
                   <a href = "/addtraining"><button id="tab_2_submit" class="btn btn-mini" type="button">ADD new</button>
                </div>
