<%- include ../header.ejs %>

	
	<div class="span12">
		<label><strong>Name of Work:</strong>aa</label><br>
		<label><strong>Details of Work:</strong>bb</label><br>
	</div>
	
	<br>
	<div class="span4">
		<label><a href="/addwork"><strong>Add work</strong></a></label>
	</div>
	

<%- include ../footer.ejs %>