

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
 
  
<div class="container" style="margin-top: 20px;">
  <form class="form-group" name='uploader' method='post' action='/home/upload' enctype="multipart/form-data">
    <div class="row">
        
  
        
        <div class="col-lg-6 col-sm-6 col-12">
            <h4>Upload file</h4>
            <div class="input-group" name="uploader" method="post" action="/home/upload" entype="multipart/form-data">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input name="file" id="file" type="file" multiple>
                    </span>
                </span>
                <input type="text" class="form-control" readonly>
                </div>
            
        </div>
        
                <div style="margin-right: 150px;">
                  <br></br>
                  <br></br>
                  <br></br>
                <input class="btn col-12 "  type='submit' value='Upload' >
              </div>
            
    </div>
     </form>
</div>
